*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aliceblue;
}
h1, #filters{
    text-align: center;
    color: #5a77e4;
}

#filters input, #filters #status-filter{
    padding: 8px 16px;
    margin: 10px;
    border: 2px solid #96a2d0;
    font-size: 18px;
    border-radius: 5px;
}

.container{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}
#characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.character-card{
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #96a2d0;
    border-radius: 8px;
}
.character-card img{
    width: 100%;
}